.trainer-container {
  display: flex;
  justify-content: center;
}

.trainer-details {
  align-self: center;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 3px 3px 10px black;
  font-size: 32px;
  margin: 10px;
  padding: 25px;
}

ul.trainer-details-list {
  list-style: none;
  padding: 10px;
  text-align: left;
  width: 500px;
}

.trainer-avatar {
  border: 1px solid #000;
  box-shadow: 3px 3px 10px black;
  border-radius: 3px;
  margin: 10px;
  padding: 50px;
}

.trainer-pokemon-list {
  align-self: center;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 3px 3px 10px black;
  font-size: 32px;
  margin: 10px;
  padding: 25px;
  text-align: right;
}

ul.trainer-pokemon-list-list {
  list-style: none;
  padding: 10px;
  width: 500px;
}
